body {
    margin: auto;
    padding: 70px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: mediumvioletred;
    background-color: dimgray;
    background-image: url(images/background.png);
    background-size: contain;
    background-position: center;
    background-attachment:fixed;
    background-repeat:no-repeat;
}
/* class for all small images */
.small-img{
    height: 30%;
    width: 30%;
}
/* wrapper div used for centering body content */
#wrapper{
    text-align: center;
    margin: auto;
    background-color: hsla(0, 100%, 95%, .9);
    width: 80%;
    padding: 20px 0;
    box-shadow: 5px 5px 5px black;
}
ul{
    list-style-type: none;
}